@keyframes newdonation {
  from {
    color: blue;
  }
  to {
    color: black;
  }
}

.donation {
  animation-name: newdonation;
  animation-duration: 1s;
  display: flex;
}

.donation .donor {
  display: inline-block;
  flex-grow: 1;
}

.donation .amount {
  display: inline;
  text-align: right;
}
