@keyframes newdonation {
  from {
    color: blue;
  }
  to {
    color: black;
  }
}

.donation {
  animation-name: newdonation;
  animation-duration: 1s;
  display: flex;
}

.donation * {
  display: inline-block;
}

.donor {
  flex-grow: 1;
}

.amount {
  text-align: right;
  width: 3.5em;
}
