@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

html {
  --color-text: #e7e7e7;
  --color-background: #333333;
  --color-donor: #cc2b2b;
  --color-amount: #239c23;
}

body {
  color: var(--color-text);
  background-color: var(--color-background);
  font-family: Cairo, sans-serif;
  font-weight: bold;
  font-size: 1.1em;
}

@keyframes newdonation {
  from {
    height: 0;
  }
  to {
    height: 50px;
  }
}

.donation {
  animation-name: newdonation;
  animation-duration: 0.75s;
  display: flex;

  height: 50px;
  margin-bottom: 2px;
  overflow: hidden;
}

.donation > * {
  display: inline-block;
  align-self: stretch;
}

.amount-display {
  background-color: var(--color-amount);
  font-size: 0.8em;
}

.donor {
  flex-grow: 1;
  margin-right: 0.25rem;
  background-color: var(--color-donor);
}

.amount {
  text-align: right;
  width: 3.5rem;
}

.donor,
.amount-display {
  border: 3px solid var(--color-text);
  border-radius: 5px;
  padding: 0 0.5em;
  display: flex;
  align-items: center;
}
