@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");

html {
  --color-text: #e7e7e7;
  --color-donor: #cc2b2b;
  --color-amount: #239c23;
}

body {
  color: var(--color-text);
  background: none;
  font-family: Cairo, sans-serif;
  font-weight: bold;
  font-size: 1.1em;
  overflow: hidden;
}

@keyframes newdonation {
  from {
    height: 0;
  }
  to {
    height: 50px;
  }
}

.donation {
  animation-name: newdonation;
  animation-duration: 0.75s;
  display: flex;

  height: 50px;
  margin-bottom: 2px;
  overflow: hidden;
}

.donation > * {
  display: inline-block;
  align-self: stretch;
}

.amount-display {
  background-color: var(--color-amount);
  font-size: 0.8em;
}

.donor {
  flex-grow: 1;
  margin-right: 0.25rem;
  background-color: var(--color-donor);
}

.amount {
  text-align: right;
  width: 3.5rem;
}

.donor,
.amount-display {
  border: 3px solid var(--color-text);
  border-radius: 5px;
  padding: 0 0.5em;
  display: flex;
  align-items: center;
}

/* Link generator styles */

.vertical-center {
  height: 100vh;
  display: flex;
  align-items: center;
}

.horizontal-center {
  display: flex;
  justify-content: center;
  flex-grow: 1;
}

.generator {
  background-color: black;
  border: 1px solid white;

  max-width: 600px;
  padding: 1em;
  border-radius: 10px;

  display: flex;
  flex-wrap: wrap;
  row-gap: 1em;
}

.generate-link {
  background-color: #111111;
  color: var(--color-text);
  border: 1px solid white;
  border-radius: 10px;
  padding: 0.5em;
  width: 100%;
  text-transform: uppercase;
}

.title {
  margin-right: 0.5em;
}

.generator > div,
label {
  margin-right: 1em;
}

#campaign {
  width: 4em;
}
